<h1>Polls</h1>

<% @poll.each do |poll| %>
	<%= poll.name %>::::<%= link_to "View Poll", "polls/#{poll.survey_path}" %>::::<%= link_to 'Edit Poll', "polls/#{poll.edit_path}/edit" %> <br />
<% end %>
<br />
<br />

<%= link_to 'Create a new Poll', new_poll_path%>