<h1>Polls#index</h1>
<p>Find me in app/views/polls/index.html.erb</p>
<% @poll.each do |poll| %>
	<%= poll.name %>::::<%= link_to 'View Poll', poll.survey_path%>::::<%= link_to 'Edit Poll', poll.edit_path%> <br />
<% end %>
<br />
<br />

<%= link_to 'Create a new Poll', new_poll_path%>